body {
    font-family: Arial, sans-serif;
    background-color: #403b4e;
    background-image: url(#);
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(222, 248, 240);
}

h2 {
    text-align: center;
    background-color: rgb(80, 80, 247);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
    padding: 8px;
}

th {
    background-color: #ffffff;
    text-align: left;
}

