body {
    font-family: Arial, sans-serif;
    background-color: #403b4e;
    background-image: url(#);
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(222, 248, 240);
}

h2 {
    text-align: center;
    background-color: transparent;
    overflow: hidden; /* Isso vai esconder o texto antes da animação */
    white-space: nowrap; /* Isso vai garantir que o texto seja exibido em uma única linha */
    animation: typing 4s steps(40) 1s forwards; /* 4s de duração, 40 passos (caracteres) e início após 1s */
}

@keyframes typing {
    from {
        width: 0; /* Começa com largura zero (texto escondido) */
    }
    to {
        width: 100%; /* Termina com largura total (texto completamente visível) */
    }
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
    padding: 8px;
}

th {
    background-color: #ffffff;
    text-align: left;
}
.my-footer {
    background-color:transparent;
    color: #8a8a8a;
    text-align: center;
    padding: 10px;
}

